body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:black;
color:white;
display:flex;
justify-content:space-between;
padding:15px 30px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:orange;
color:white;
}

.products{
display:flex;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:220px;
text-align:center;
}

.product{
display:flex;
gap:40px;
max-width:900px;
margin:auto;
margin-top:50px;
}

.designer{
text-align:center;
}

.mug-area{
position:relative;
width:300px;
margin:auto;
}

.mug{
width:100%;
}

.design{
position:absolute;
top:100px;
left:100px;
width:80px;
cursor:move;
}
